{% load i18n %}{% autoescape off %}
{% blocktranslate %}Bu e-postayı aldınız çünkü Usmar Cepte uygulaması için bir şifre yenileme talep ettiniz {% endblocktranslate %}


{% translate "Lütfen aşağıdaki bağlantıya tıklayıp şifrenizi yenileyin:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Ola ki kullanıcı adınız hatırlamıyorsanız, işte burada:' %} {{ user.get_username }}


{% translate "Bizi tercih ettiğiniz için teşekkür ederiz!" %}


{% blocktranslate %}-Usmar Cepte mail servisi{% endblocktranslate %}


{% endautoescape %}